//Colors
/*$bg-primary-light: #624BFF;
$bg-secondary-light: #FFFFFF;
$bg-tertiary-light: #E9ECEF;
$text-primary-light: #000000;
$text-secondary-light: #FFFFFF;
$text-tertiary-light: #808080;*/

$bg-primary-light: #624BFF;
$bg-secondary-light: #FFFFFF;
$bg-tertiary-light: #E9ECEF;
$text-primary-light: #212529;
$text-secondary-light: #FFFFFF;
$text-tertiary-light: #ADB5BD;
$text-hover-light: #6C757D;

$bg-primary-dark: #212529;
$bg-secondary-dark: #343A40;
$bg-tertiary-dark: #495057;
$text-primary-dark: #F8F9FA;
$text-secondary-dark: #212529;
$text-tertiary-dark: #ADB5BD; //#CED4DA;

//Others
$radius: .25rem;
$radius-lg: .5rem;
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 10%);




